// Place all the styles related to the testBancos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info{
    background-color:#FFE4C4;
    margin: auto;
    display: block;
    margin-top: 10%;
}